//- Component Custom Style: src/assets/css/componets/brochure-illustration.pcss
figure.w-full.relative
    img(src="img/abs-brochure-illustration.png", alt="Acer ABS Brochure Illustration", srcset="")
    .absolute.flex.items-center.abs-brochure-illustration-1(data-aos="fade-left", data-aos-duration="1500")
        p.text-leaf.font-semibold.mr-4 Big Data, Analytics, AI
        span.w-15.h-2px.bg-leaf
        img(src="img/leaf-dot.svg")
    .absolute.flex.items-center.abs-brochure-illustration-2(data-aos="fade-left", data-aos-duration="1600")
        p.text-leaf.font-semibold.mr-4.text-right Built-in mail system for<br> communication
        span.w-15.h-2px.bg-leaf
        img(src="img/leaf-dot.svg")
    .absolute.flex.items-center.abs-brochure-illustration-3.flex-col(data-aos="fade-up", data-aos-duration="1600", data-aos-delay="600")
        p.text-leaf.font-semibold.mb-3 Real Time Content/Device<br> Management via the Cloud
        span.w-2px.block.h-15.bg-leaf
        img(src="img/leaf-dot.svg")
    