mixin card(type, title, description, img)
    article.border.border-grey-lighter.relative
        img(src=img, class="h-50 bg-grey w-full object-cover -mb-2")
        div.p-8    
            h4.font-semibold.mb-2= type
            h3.font-light.text-2xl.mb-2= title
            p.font-thin.leading-normal.mb-12= description
        a.m-8.absolute.pin-b.pin-l.no-underline.text-leaf.text-lg(href="#") View More

div.container.grid.grid-columns-3.grid-gap-5
    +card(
        'Corporate', 
        "Kellog's", 
        'Digital Signage and apps like Rockbot’s innovative music streaming service offer sophisticated new ways to engage customers while building brand awareness.',
        'img/customers/kellogs.jpg'
    )    
    +card(
        'Retail', 
        "Edeka", 
        'The Edeka Group is the largest German supermarket corporation, currently holding a market share of 26%.',
        'img/customers/edeka-1.jpg'
    )
    +card(
        'Transportation', 
        "McCarran International Airport", 
        'The Rent-A-Car Center at McCarran International Airport in Las Vegas is an off-site facility most commonly accessed.',
        'img/customers/mccarran.jpg'
    )
    +card(
        'Entertainment', 
        "Lucky Strike", 
        'Lucky Strike Lanes and Lounges introduced the upscale boutique bowling experience six years ago, and all 20 locations across America and Canada.',
        'img/customers/lucy-strike.jpg'
    )
    +card(
        'Restaurant', 
        "Starbucks", 
        'The Edeka Group is the largest German supermarket corporation, currently holding a market share of 26%.',
        'img/customers/mccarran.jpg'
    )
    