- var defaultStyle = 'no-underline leading-none py-2 px-4 font-semibold'
- var activeStyle = 'text-leaf border-b-2 border-leaf'
- var fallbackStyle = 'text-grey-light hover:text-leaf'

mixin nav-item(name, isActive)
    a(class=`${ defaultStyle } ${ isActive ? activeStyle : fallbackStyle }`, href="#")= name

nav.max-w-xl.mx-auto.flex.my-12
    +nav-item('All', true)
    +nav-item('Retail')
    +nav-item('Museum')
    +nav-item('Entertainment')
    +nav-item('Restaurant')
    +nav-item('Outdoor')
    +nav-item('Corporate')
    +nav-item('Education')
    +nav-item('Medical')
    +nav-item('Transportation')