mixin data-illustration-leaf(data, title, image)
    div(class="-mr-1 z-10 text-center relative")
        img(src=image, class="rounded-full bg-leaf-lightest")
        div.absolute.pin-t-full.pin-x.mt-4
            h4.text-3xl.font-medium.text-leaf.mb-1= data
            p.text-leaf= title 
    
.flex.items-center.mb-32
    +data-illustration-leaf('16,918', 'Screens', '/img/screen.svg')
    img(src="/img/leaf-line.svg" class="z-0 -mr-1")
    +data-illustration-leaf('11,628', 'Locations', '/img/location.svg')
    img(src="/img/leaf-line.svg" class="z-0 -mr-1")
    +data-illustration-leaf('247M', 'Contacts Weekly', '/img/contacts.svg')
    img(src="/img/leaf-line.svg" class="z-0 -mr-1")
    +data-illustration-leaf('1,000', 'Daily Hits Per Screen', '/img/users.svg')