mixin feature-list(title, desc, icon)
    li.flex.mb-8
        img(src="/img/icons/" + icon).h-9.flex-no-shrink.mr-8
        div
            p.font-semibold.mb-2.leading-tight= title
            p.font-light.text-sm= desc

//- Feature lists
div(class="w-2/3 flex")
    div(class="w-1/2 mr-6")
        ul.list-reset.mr-4
            +feature-list(
                'Technical Consulting & Planning', 
                "Our team will discuss and survey each site to better understand and plan according to our customer's digital signage needs.",
                'icon-graph-content.png'
            )
            +feature-list(
                'Professional Installation', 
                "Complies with all health and safety standards without impacting the aesthetics of each deployment site.",
                'icon-graph-chip.png'
            )
            +feature-list(
                'Pre-Installation', 
                "Services including minor drilling and assembly work on select wall mounts for displays.",
                'icon-graph-memory.png'
            )
            +feature-list(
                'System Setup', 
                "From enrollment of user accounts to device on-boarding, we make sure each ABS device is up to date with our latest, reliable, and feature rich software solutions.",
                'icon-graph-software.png'
            )
    div(class="w-1/2")
        ul.list-reset.mr-2
            +feature-list(
                'Maintenance', 
                "Keep your systems up to date, clean and avoid unwanted downtimes with quarterly maintenance visits.",
                'icon-graph-analytics.png'
            )
            +feature-list(
                '1st Level Support', 
                "Our regional support center will coordinate with on-site support teams to ensure maximum screen up-time.",
                'icon-graph-info.png'
            )
            +feature-list(
                'Break & Fix Service', 
                "Next business day on-site product repair or exchange in case of defects.",
                'icon-graph-tool.png'
            )
            +feature-list(
                'Warranty Extensions', 
                "Extend your warranty for up to 5 years to receive free-of-charge break-and-fix services as needed within the warranty period.",
                'icon-graph-display.png'
            )


