div.relative.max-w-xl.mx-auto
    img(src="/img/world-map-dots-template.png", alt="")
    div(data-aos="fade-up", data-aos-duration="1500").absolute.map-location-1
        .inline-block.p-3.bg-transparent-leaf.mr-4
            p.text-white.font-semibold.mb-1 ABS Global HQ
            p.text-white.font-thin Duesseldorf, Germany
        img.inline-block.h-8(src="/img/icons/icon-pin.png")
    div(data-aos="fade-up", data-aos-duration="1800", data-aos-delay="350").absolute.map-location-2
        .p-3.bg-transparent-leaf.mb-4
            p.text-white.font-semibold.mb-1 ABS Global HQ
            p.text-white.font-thin Duesseldorf, Germany
        img.h-8(src="/img/icons/icon-pin.png")