mixin form-control(name, type, style, focus) 
    div(class=`w-1/2 flex flex-col flex-col-reverse${ style }`)
        input(type=type, name=name, id=name, class="focus:border-leaf font-thin focus:outline-none border border-ice py-2 px-3 w-full label-text-leaf", autofocus=focus)
        label(for=name).text-sm.font-light.mb-2.block.text-grey-purplish.capitalize= name + '*'

form(action="/", method="post")
    div.flex.w-full.mb-10
        +form-control('name', 'text', ' mr-8', true)
        +form-control('company', 'text', '')
    div.flex.w-full.mb-10
        +form-control('email', 'email', ' mr-8')
        +form-control('phone', 'email', '')
    div.flex.w-full.mb-10.flex-col.flex-col-reverse
        textarea#message(name="message", class="focus:border-leaf focus:outline-none border border-ice font-thin py-4 h-32 px-3 w-full label-text-leaf")
        label(for="message").text-sm.font-light.mb-2.block.text-grey-purplish.capitalize Message
    div.flex.justify-center.w-full
        button.py-2.px-6.bg-leaf.leading-normal.text-white.text-lg.text-black(type="submit") Submit