footer.bg-footer.py-6.bg-ice-darkest-gradient
    .container.flex.justify-end
        nav
            a.text-black.no-underline.text-sm.font-light.mr-4(href="#", class="hover:underline") 
                | Terms of Use
            a.text-black.no-underline.text-sm.font-light.mr-4(href="#", class="hover:underline")
                | Privacy
            a.text-black.no-underline.text-sm.font-light.mr-4(href="#", class="hover:underline") 
                | &copy; Acer Inc.