//- Based on bootstrap 4 'navbar' https://getbootstrap.com/docs/4.0/components/navbar/#nav
header.bg-white.shadow
    .container.flex.items-center.justify-between
        div.flex.items-center
            a(href="/")
                img(src="img/logo-abs.svg", alt="", srcset="", class="inline-block h-12 mr-4")
            nav
                ul(class="list-reset navbar-nav")
                    li
                        a(href="/product.html", class=`navbar-item  ${ route === 'product' ? 'active' : '' }`) Product
                    li
                        a(href="/index.html", class=`navbar-item  ${ route === 'home' ? 'active' : '' }`) Our Solution
                    li
                        a(href="/customers.html", class=`navbar-item ${ route === 'customers' ? 'active' : '' }`) Customers
                    li
                        a(href="/about.html", class=`navbar-item ${ route === 'about' ? 'active' : '' }`) About Us
                    li
                        a(href="/quote.html", class=`navbar-item  ${ route === 'quote' ? 'active' : '' }`) Get a Quote
        div
            button.mr-8.font-thin.text-black.font-light English
            a.py-3.px-6.bg-leaf.text-white.text-sm.text-black.font-light.no-underline(href="#") Contact Us
