<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/main.css")
        block head
    body.font-sans.antialiased.font-normal.bg-grey-lightest.text-black(class=route, data-aos="fade")
        include ./header
        block content
        include ./footer
        script(src="js/main.js")
        