.abs-brochure-illustration-1 {
    left: 170px;
    top: 25px;
}

.abs-brochure-illustration-2 {
    bottom: 60px;
    left: 90px;
}

.abs-brochure-illustration-3 {
    right: 240px;
    top: 20px;
}

.leaf-dot {
    backround-image: url('img/leaf-dot.svg');
}