.navbar-nav li{
    @apply .inline-block;
}

.navbar-item {
    @apply .leading-none .text-black .inline-block .text-lg .no-underline .py-8 .px-4 .border-b-4 .border-white;
}

.navbar-item.active {
    @apply .border-leaf .bg-grey-lightest;
}