extends layouts/main

block head
    title About
    - var route = 'about'

block content
    main.bg-grey-lightest
        section.h-50.w-full.bg-leaf
            .container.flex.flex-col.justify-end.h-full
                h2.text-white.text-base.font-semibold.mb-4 Acer Being Signage
                h1.text-white.text-6xl.font-medium.leading-tight.mb-4 About Us
        
        section(style="background-image: url('/img/about-intro-banner-bg.jpg');").bg-cover.bg-no-repeat.mb-12.py-16
            .container.flex.flex-col
                .max-w-lg.mb-16.pr-6
                    h2.text-5xl.font-thin.leading-tight.mb-4 Get Ready to Be Seen
                    p.text-lg.font-thin.mr-8.leading-normal.mb-6 As part of a globally active IT manufacturer, Acer Being Signage benefits from excellent product development and production, a comprehensive product portfolio, a global service and support infrastructure and a strong business partner network in more than 100 countries around the world.
                    p.text-lg.font-thin.mr-8.leading-normal Acer Being Signage operates under the umbrella of the BYOC division, which deals in solutions for cloud computing and the Internet of Things (IoT). All activities relating to digital signage (DS) are brought together in the independent company Acer Being Signage. Acer Being Signage GmbH, with headquarters in Düsseldorf, is responsible for the digital signage business in Europe.
        
        section.bg-white.flex.p-8.container.shadow-lg.mb-32
            div(class="w-1/4")
                h3.text-base.font-semibold.mb-2 White Paper
                h2.text-3xl.font-normal Learn Even More
            div(class="w-3/4 py-2")
                p.text-lg.font-thin.border-b.border-ice.pb-4.mb-4 Bringing Intelligence to Digital Signage (SI &amp; VAR)
                p.text-lg.font-thin Bringing Intelligence to Digital Signage (End Customer)
        
        section.mb-32.text-center
            h4.text-base.font-semibold.mb-4 ABS
            h2.text-5xl.font-thin.mb-4.leading-normal Digital Signage Solutions
            p.text-lg.font-thin.mb-16 Global Offices
            include includes/map-illustration

        section.py-16.w-full.bg-white
            .container.flex.items-center
                .max-w-lg.mr-12
                    h2.text-5xl.font-thin.mb-4.leading-normal Acer BYOC
                    p.text-lg.font-thin.mr-8.leading-normal Acer BYOC is built upon the backbone of experience. Beginning with the establishment of the e-Enabling Data Center in 2001 and the launch of BYOC’s own aBeing Cloud platform, BYOC simplifies life and business by providing next level cloud services while at the same time fostering future technologies such as AI, Big Data, and more. 
                div.flex.items-center
                    span.border-r.flex.pr-6.py-3.mr-6
                        img(src="/img/acer-rgb.png").h-8
                    span
                        img(src="/img/acer-rgb.png").h-8

                    


            


