extends layouts/main

block head
    title Customers
    - var route = 'customers'

block content
    main.bg-white
        section.h-50.w-full.bg-leaf
            .container.flex.flex-col.justify-end.h-full
                h2.text-white.text-base.font-semibold.mb-4 Acer Being Signage
                h1.text-white.text-6xl.font-medium.leading-tight.mb-4 Our Customers
        
        section
            include includes/customers-nav

        section.pb-32
            include includes/customers-cards