extends layouts/main

block head
    title Acer ABS - Our Solution
    - var route = 'home'

block content
    main(style="background-image: url('img/pattern_box.png')")
        section(style="background-image: url('img/hp-kv-1.jpg')").bg-cover.bg-no-repeat.h-103.mb-16
            .container.flex.items-center.justify-center.h-full
                .max-w-md.text-center
                    h2.text-white.text-3xl.font-normal.mb-6 Acer Being Signage
                    h1.text-white.text-6xl.font-medium.leading-tight The Complete, Data-Driven Signage Solution

        section.mb-10.container
            .flex.flex-col.items-center.text-center.bg-white.py-16
                .max-w-md.mb-16
                    h2.text-5xl.font-thin.leading-tight.mb-4 A Seamless Solution Comprised of Technology &amp; Services
                    p.text-lg.font-thin.leading-tight We focus on delivering a digital signage and video analytics service that is easily utilized by our customers so as to create the maximum amount of results.
                include includes/brochure-illustration
        
        section.bg-leaf-lightest.py-16
            .max-w-md.mx-auto.text-center.mb-4
                p.font-semibold.mb-1 Why Choose ABS?
                h2.text-5xl.font-thin.leading-loose Do More. Save More.
                p.text-lg.font-thin.leading-tight Bring the cost of operating and maintaining your digital signage network under control with our robust and efficiently designed signage solution.
        
        section.bg-white.py-16
            .container
                p.font-semibold.mb-4 Features
            .container.flex
                div(class="w-1/3 mr-8")
                    h2.text-5xl.font-thin All The Tools You Need
                include includes/feature-lists

        section(style="background-image: url('img/pattern_grids.png')").bg-no-repeat.bg-left-bottom.bg-leaf-lightest.pt-16.flex.justify-center
            include includes/data-illustration

        