extends layouts/main

block head
    title ABS Acer - Product
    - var route = 'product'

block content
    main
        section(style="background-image: url('img/kv-1.jpg')").bg-cover.bg-no-repeat.h-103.mb-32
            .container.flex.items-center.h-full
                .max-w-sm
                    h1.text-white.text-6xl.font-medium.leading-tight.mb-4 Your Content, Anywhere
                    p.text-white.text-lg.font-thin.leading-normal.mr-4 We focus on delivering a digital signage and video analytics service that is easily utilized by our customers so as to create the maximum amount of results.
        
        section.container.flex.items-center
            div(class="w-1/2")
                div.max-w-sm.px-10
                    h2.text-3xl.font-normal.mb-4 2-in-1 Media Player and Behavior Tracking Sensor
                    p.text-lg.font-thin.leading-normal.mr-4 Versatile media player with the non-intrusive Behavior Tracking Sensor (BTS). Collect viewer data with ease.
            div.max-w-md.text-center(class="-mr-6")
                img(src="/img/acer-dashboard.png", alt="")
                p.text-leaf.font-semibold Real Time Content and Device Management via the Cloud
        
        section.container.flex.items-center
            div.max-w-md.p-8
                img(src="/img/acer-circle.png", alt="")
            div(class="flex-1 flex justify-center")
                div.max-w-sm
                    h2.text-3xl.font-normal.mb-8 Advanced 4K Performance
                    ul.list-reset.ml-4 
                        li.flex.mb-4
                            span.flex-no-shrink.w-3.h-3.bg-leaf.rounded-full.mt-2.mr-6.inline-block
                            p.text-lg.font-thin.leading-normal
                                | Consistent 60 FPS at 4K resolution
                        li.flex.mb-4
                            span.flex-no-shrink.w-3.h-3.bg-leaf.rounded-full.mt-2.mr-6.inline-block
                            p.text-lg.font-thin.leading-normal
                                | Supports H.264/H.265/VP9 video codecs

        section.container.flex.items-center.mb-32
            div(class="w-1/2")
              div.max-w-sm.px-10
                h2.text-3xl.font-normal.mb-8.leading-normal Commercial-Grade <br> Hardware
                ul.list-reset.ml-4 
                    li.flex.mb-4
                        span.flex-no-shrink.w-3.h-3.bg-leaf.rounded-full.mt-2.mr-6.inline-block
                        p.text-lg.font-thin.leading-normal
                            | Fan-less design with a wide operation temperature range of -10°C – 50°C
                    li.flex.mb-4
                        span.flex-no-shrink.w-3.h-3.bg-leaf.rounded-full.mt-2.mr-6.inline-block
                        p.text-lg.font-thin.leading-normal
                            | Zero spindle design keeps things silent and vibration-free
                    li.flex
                        span.flex-no-shrink.w-3.h-3.bg-leaf.rounded-full.mt-2.mr-6.inline-block
                        p.text-lg.font-thin.leading-normal 
                            | Ventless architecture offers IP40-rated dust protection
            div.max-w-md.text-center(class="-mr-6")
                img(src="/img/acer-commercial.png", alt="")

        section.container.flex.items-center.flex-col.text-center.px-12.mb-32
            h1.text-5xl.font-thin.leading-tight.mb-4 Design Reference
            .w-full.h-120.bg-grey.mb-6.product-carousel
                img(src="/img/bitmap.jpg", alt="", class="w-full object-cover")
                img(src="/img/bitmap2.jpg", alt="", class="w-full object-cover")
                img(src="/img/bitmap3.jpg", alt="", class="w-full object-cover")
            .w-64.flex.items-center.justify-between
                button(type="button", class="focus:outline-none")
                    svg(xmlns='http://www.w3.org/2000/svg', width='40', height='40', viewBox='0 0 24 24', class="text-leaf fill-current")
                        path(d='M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z')
                        path(d='M0 0h24v24H0z', fill='none')
                div
                    button(type="button").flex-no-shrink.w-3.h-3.bg-leaf.rounded-full.mr-3.inline-block
                    button(type="button").flex-no-shrink.w-3.h-3.bg-grey.rounded-full.mr-3.inline-block
                    button(type="button").flex-no-shrink.w-3.h-3.bg-grey.rounded-full.inline-block
                button(type="button", class="focus:outline-none")
                    svg(xmlns='http://www.w3.org/2000/svg', width='40', height='40', viewBox='0 0 24 24', class="text-leaf fill-current")
                        path(d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z')
                        path(d='M0 0h24v24H0z', fill='none')

        