extends layouts/main

block head
    title Quote Submission Success!
    - var route = 'quote'

block content
    main(class="-mt-20").h-screen.flex.items-center
        section.max-w-sm.mx-auto.py-16.text-center
            h1.text-5xl.font-thin.leading-tight.mb-4 Thank You!
            p.text-lg.font-thin.leading-normal We appreciate you contacting us about Acer Being Signage. One of our colleagues will get back to you shortly. <br> Have a great day!

