extends layouts/main

block head
    title Get A Quote
    - var route = 'quote'

block content
    main
        section.max-w-lg.mx-auto.py-16.text-center
            h1.text-5xl.font-thin.leading-tight.mb-4 Get a Quote
            p.text-lg.font-thin.leading-normal You’re one step closer to a personalized digital signage and video analytics service that works for you. Fill out the form below and one of our agents will be in touch as soon as possible!

        section.max-w-lg.mx-auto.mb-32.bg-white.shadow-lg.p-10
           include includes/quote-form
           
