@import url('https://fonts.googleapis.com/css?family=Mukta:200,300,400,500,600');

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 */
@import "tailwindcss/preflight";

/**
 * This injects any component classes registered by plugins.
 *
 */
@import "tailwindcss/components";

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

@import "aos/dist/aos";
@import "./components/navbar.pcss";
@import "./components/brochure-illustration.pcss";
@import "./components/map-illustration.pcss";

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 */

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
 
@import "tailwindcss/utilities";

.pin-t-full {
    top: 100%;
}

.bg-ice-darkest-gradient {
    background-image: linear-gradient(271deg, config('colors.ice'), config('colors.ice-darkest'));
}

.label-text-leaf:focus + label {
    @apply .text-leaf;
}

